
body{
	width: 90%;
	height: 90%;
	margin:  0 auto;
	background-color: #437dd9;}

#content{
	overflow: auto;
	height: 100%;}

#nav. #feature. #footer{
	margin: 1%;}

/* This sets up 3 classes that sit side to side by 
each other and allowed me to separate different sections*/

.column1, .column2, .column3{
	width: 31.3%;
	height: 31.3%;
	float:  left;
	margin: 1%;}

.column3{ 
	margin-right: 0%;}

li{
	display: inline;
	padding: 0.5em;}

/* I tried changing this a bunch of times to fix the background color of the main sections and nothing happened. 
IDK what I did but I messed up something anf can't figure out how to fix it.*/

#nav. #footer {
	background-color: rgb(186, 178, 166); 
	padding: 0.5em;
	width: 20%;}

/*Helped me define the maximum size and spacing of the main sections*/

#image-feature, .article {
	height: 10em;
	margin-bottom: 1em;}

/*This section is all about customizing the style and color of the onscreen text*/

h1{
	background-color: rgb(255, 157, 10);
	font-family: "George", serif;
	width: 15%;}

/*For some reason I couldn't get the main element to have a working background 
color so I ended up making the background of the text itself grey.
 It's ugly but it's better than nothing?*/

p{
	background-color: rgb(163, 151, 134);
	font-family: "George", serif;}

a:link{color: rgb(224, 49, 29);}

a:visited{color: rgb(255, 157, 10);}
